/*MODAL BODY */

.modal-body div{
  padding: 0;
  margin: 0;
}
.ReactModal__Body--open {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
.modal-body{
  display: flex;
  overflow: hidden;
  padding: 0px;
  background: #fff;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.5);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.8s;
  animation-name: animatetop;
  animation-duration: 0.8s;
  overflow-x: auto !important;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from { opacity:0} 
  to { opacity:1}
}

@keyframes animatetop {
  from { opacity:0}
  to { opacity:1}
}
.overlay
{   
    width: 100%;
    height: 100%;
    max-width: 1400px;
    min-width: 720px;
    margin-right: auto;
    margin-left: auto;
}

/*CONTENT */
#content{
  align-items: stretch;
  min-height: 100vh;
  padding-left: 280px;
}
.cross-icon-new {
  font-size: 25px;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease; /* Safari and Chrome */
  -moz-transition: all 0.3s ease; /* Firefox */
  -ms-transition: all 0.3s ease; /* IE 9 */
  -o-transition: all 0.3s ease; /* Opera */
  transition: all 0.3s ease;
}
.cross-icon-new:hover {
  -webkit-transform:scale(1.2); /* Safari and Chrome */
  -moz-transform:scale(1.2); /* Firefox */
  -ms-transform:scale(1.2); /* IE 9 */
  -o-transform:scale(1.2); /* Opera */
  transform:scale(1.2);
}
.cross-icon-new{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  color: black;
  opacity: 1;
  margin-top: 8px !important;
  margin-right: 12px !important;
}
.cross-icon-new img{
  height: 30px;
  width: 30px;

}
.cross-icon{
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 1000;
}
#content .cross-icon-new:hover{
  cursor: pointer;
  cursor: hand;
}
.hero-image {
  max-width: 1120px;
  height: auto;
}
.hero-image img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.project-title{
  min-width: 100%;
  min-height: auto;
}
.project-title h1{
  min-width: 100%;
  font-size: 3.5em;
  float: left;
  color: #212a43;
  text-align: left;
  margin-top: 4%;
  padding-top: 3%;
  padding-right: 30px;
  padding-left: 4.5%;
  padding-bottom: 1%;
  font-family: ArtifaktElement-Thin;
}
.project-abstract p{
  text-align: left;
  color: #2c3247;
  min-width: 100%;
  font-family: ArtifaktElement;
  font-size: 1.2em;
  padding-left: 4.5%;
  padding-right: 30px;
  padding-bottom: 2%;
  opacity: 0.5;
}
.single-file{
  min-height: 100%;
  min-width: 100%;
  align-items: left;
  margin-bottom: 4% !important;
  padding-left: 4.5% !important;
}

/* FILE ITEMS */
.file-item-title{
  font-family: ArtifaktElement-Bold;
  margin-top: 3%;
  text-align: left;
  font-size: 15px;
  font-weight: bold !important;
  text-align: left;
  min-width: 100%;
  color: #2c3247;
}

.image-file.style{
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.file-image img:hover{
  cursor: zoom-in;
  cursor: zoom-in;
}
.file-image span:hover{
  cursor: none;
}
.molecular-viewer{
   position: relative;
  max-width: 992px;
  width: 100%;
  height: 45vh;
}

.file-image img {
    margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-right: 60px !important;
  padding: 25px;
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}
.single-file p{
  font-family: ArtifaktElement;
}
.file-details{
  margin-bottom: 1% !important;
  height: auto;
  float: left;
  align-self: left;
  color: #2c3247;
  opacity: 0.79;
  text-align: left;
  font-family: ArtifaktElement;
  min-width: 100%;
  padding-right: 30px !important;
}
.modal-display{
  max-height: 100%;
  max-width: 100%;
  align-self: center;
  position: relative;
  overflow: hidden;
  margin: 0;
}
.plain-background{
  opacity: 0.79;
  border: 1px solid black;
  float: left;
  font-family: ArtifaktElement;
  border-radius: 10px;
  padding: 5%;
  margin-top: 1%;
  margin-bottom: 2%;
  cursor: default;
  z-index: 10
}
#content span:hover{
  cursor: default;
  z-index: 10;
}
.download{
  float: left;
  font-family: ArtifaktElement;
}
/*Comments section*/
.comments-section{
  margin-top: 5% !important;
  font-family: ArtifaktElement;
  margin-bottom: 5% !important;
}
.comments-section h3{
  min-width: 80%;
  color: #2fe695;
  font-family: ArtifaktElement-regular;
}
.comment-title{
  width: 100%;
  float: left!important;
}
.comments-display{
  min-width: 100%;
}
.single-comment{
  display: inline-block;
  margin-left: 4% !important;
  margin-right: 4% !important;
  margin-top: 4% !important;
  margin-bottom: 1% !important;
  box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 4px;
  border-radius: 5px;
  border: 1px solid #F5F5F5;
  text-align: left !important;
  min-width:  80%;
  padding-right: 10% !important;
  padding-left: 7% !important;
  padding-top: 3%;
  -webkit-animation-name: animateside;
  -webkit-animation-duration: 1s;
  animation-name: animateside;
  animation-duration: 1s;
}
.single-comment h5{
  font-size: 14px;
  font-family: ArtifaktElement-Bold;
}
.single-comment p{
  padding-left: 5%;
}
.user-comment-title h3{
  text-align: left !important;
  padding-left: 10%;
}
.comment-container{
   margin-top: 4% !important;
}
.comment-container h4{
  font-family: ArtifaktElement-regular;
  color: #2fe695;
  text-align: left !important;
  padding-left: 10%;
}
.comment-input{
  display: inline-block;
  margin-left: 10% !important;
  margin-right: 10% !important;
  margin-bottom: 1% !important;
  box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 4px;
  border-radius: 5px;
  border: 1px solid #F5F5F5;
  text-align: left !important;
  min-width:  80%;
}
.post-btn{
  width: auto;
  background-color: #2acc84 !important;
  height: auto;
  border: none;
  font-size: 14px;
  margin-bottom: 8%;
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}
textarea:focus{
  outline: none;
}

/* Add Animation */
@-webkit-keyframes animateside {
  from { opacity: 0;} 
  to { opacity: 1;}
}

@keyframes animateside {
  from { opacity: 0;} 
  to { opacity: 1;}
}


/*DETAILS */
/* SUB parts DETAILS */
#details{
  align-items: stretch;
  position: absolute;
  width: 280px;
  float: left;
  padding: 40px;
  margin-right: 0;
  background: #F5F5F5;
  min-height: 100%;
  overflow-y: scroll !important;
}
#details .sub-part{
  margin-top: 7%;
}
#details .sub-part-hr{
  margin-top: 1%;
}
.sub-part-hr{
  min-width: 100%;
}
.sub-part{
  font-size: 12px;
  min-width: 100%;
  font-family: ArtifaktElement-Book;
}
.sub-title h5{
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 3% !important;
  text-align: left;
  color: #212a43;
}
.sub-title .fa {
  padding: 8px;
  font-size: 12px;
  margin-right: 4%;
  border-radius: 50%;
  float: left;
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}
.sub-title hr{
  color: #000000;
  background-color: #000000;
  border-width: 1px;
  display: block;
  margin-top: 10% !important;
  border-top: 1px solid #ccc;
}
.sub-title p {
  color: #2c3247 !important;
  opacity: 1 !important;
  font-size: 12px !important;
}
.sub-title .fa:hover {
  display: inline-block;
  cursor: pointer;
  -webkit-transform:scale(1.3); /* Safari and Chrome */
  -moz-transform:scale(1.3); /* Firefox */
  -ms-transform:scale(1.3); /* IE 9 */
  -o-transform:scale(1.3); /* Opera */
  transform:scale(1.3);
}
.icons-style{
  float: left !important;
}
.icons-style a{
  padding-right: 5px;
}

.views-details{
  position: relative;
  font-size: 12px;
  float: left;
}
.views-details h5 {
  font-size: 12px;
  float: left;
  text-align: left;
  opacity: 0.5 !important;
   color: #212a43 !important;
}
.views-styling{
  font-size: 12px;
  float: left;
}
.views-styling p{
  float: left;
}
.views-details i{
  padding-left: 0% !important;
}
.likes-details {
  font-size: 12px;
  float: right;
  width: 67%;
}
.likes-details h5{
  opacity: 0.5 !important;
  color: #212a43 !important;
  font-size: 12px;
  float: right;
}
.likes-styling{
  font-size: 12px;
  float: right;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 69%;
}
.appreciate-btn{
  border-radius: 0px;
  background-color: #2acc84 !important;
  min-width: 100% !important;
  border: none;
  padding: 5%;
  font-size: 14px;
  margin-bottom: 8%;
  margin-top: 12%;
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}
.appreciate-btn:hover{
  background-color: #2acc84;
  opacity: 0.7;
  -webkit-transform:scale(1.10); /* Safari and Chrome */
  -moz-transform:scale(1.10); /* Firefox */
  -ms-transform:scale(1.10); /* IE 9 */
  -o-transform:scale(1.10); /* Opera */
  transform:scale(1.10);
}
.sub-part a{
  display: inline;
  margin-bottom: 20%;
  color: #212a43
}
.link-left{
  float: left;
  width: 50%;
  text-align: left;
}
.link-right{
  float: right;
}