.wrapper{
	width: 100%;
}

ul {
  list-style-type: none;
}
.details {
	width: 33%;
	float: left;
	border-right: 2px solid white;
	height:80vh;
	overflow: hidden;
	position: fixed;
}

.layout{
	color: black;
	width: 85%;
	margin-top: 4%;
	margin-bottom: 3%;
	margin-left: 10%;
	width: 88%;
	height: 30%;
	padding-top: 12%;
	padding-bottom: 12%;
	background: rgba(0,0,0,0.1);
	border-radius: 25px;
    border: 2px solid #2fe695;
}

/* Event & Items */
.eventLayout{
	width: 65%;
	float: left;
	margin-left: 35%;
}

.itemLayout{
	color: black;
	width: 75%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 12.5%;
	height: 10%;
	background: rgba(255,255,255,1);
	position: relative;
}
.scrollable{
	overflow-y: scroll;
	height:100%;
}
.itemLayout img{
	max-height: 100%;
	max-width: 100%;
}
.itemContainer{
	width: 75%;
	margin-left: 12.5%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.itemLayout:hover {
	transition: .5s ease;
	background-color: rgba(255,255,255,0.5);
}
.itemLayout:hover .image {
  opacity: 0.3;
  
}

.itemLayout:hover .middle {
  opacity: 1;
}
