.general {
	margin-top: 8%;
	margin-bottom: 4%;
}
.username-nav{
  position: relative;
}
.username-nav:hover .dropdown-logout{
  display: block;
}
.logout-dropdown{
  margin-top: 38px;
  right: 0px;
  font-family: ArtifaktElement;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
  border-radius: .4em;
  text-align: center;
  padding: 8px;
  z-index: 1500;
  font-size: 12px;
}
.logout-dropdown:after {
  content: '';
  position: absolute;
  top: 0;
  left: 90%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  margin-left: -10px;
  margin-top: -10px;
}
button:focus {
    outline:none !important;
}
.homepage-title{
    background-image: url('../../../public/Assets/hero.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-title{
	text-align: center;
	font-family: ArtifaktElement-Thin;
	font-weight: 100;
	color: #343950;
}
.welcomeStyle {
	margin: 35px 2px;
	font-family:  ArtifaktElement;
	font-weight: 90;
	color: #2fe695;
  text-align: center !important;
}
.general h4{
  text-align: center !important;
}
.filter-style{
  float: right;
  text-align: left;
}
.sort-style{
  float: right;
  text-align: right;
}
.sortByStyle {
	margin-left: 80%;
}
.hideit{
  max-height: 0px;
  max-width: 0px;
  display: none;
}
.greenBtn {
  background-color: #2fe695;
    border-radius: 21px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 12px;
    float: left;
    margin-right: 9px;
    font-family: ArtifaktElement;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    border: solid 1px #2fe695;
}
.nothing-found{
  margin-top: 12%;
  margin-bottom: 15%;
}
.filterBtn {
    border-radius: 21px;
    background-color: white;
    color: black !important; 
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    float: left;
    margin-right: 9px;
    font-family: ArtifaktElement;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    border: solid 1px #979797;
}
.delete-x{
  margin-left: 5px;
  font-family: ArtifaktElement-Regular;
}
.gallery-container{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}
.dropdown-menu{
    width: 300px;
    white-space: normal;
}
/* DROPDOWN STYLE */
.sub-menu-parent { 
    float: right;
    position: relative; 
    width: 295px;
    overflow: visible;
}
.sub-menu-parent p1 {
  font-size: 14px;
  font-family: ArtifaktElement-Book;
}
.sub-menu-parent p btn{
  padding: 0px !important;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
}
.sub-menu { 
  border-radius: 5%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: white;
  padding: 3%;
  font-size: 14px;
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  text-align: center !important;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: 1000;
  overflow: visible;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.sub-menu li:hover {
    color: #2fe695;
}
.sub-menu-parent:hover .sub-menu {
  width: 100%;
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1000;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.dropbtn {
    color: #212a43;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-family: ArtifaktElement-Book;
}

.sort-button{
    border: none;
    background-color: rgba(0,0,0,0);
}
p1{
  font-size: 14px;
}

@media (max-width:600px) and (min-width: 0px)
{   
  .home-title{
    font-size:2.1em;
  }
  .welcomeStyle{
    font-size: 1.4em;
  }
  .filter-style p{
    font-size: 12px;
  }
  .filter-style button{
    font-size: 10px;
  }
  .sub-menu-parent p1{
    float: left !important;
  }
  .sort-style p1{
    font-size: 12px;
  }
  .sort-style p{
    font-size: 12px;
  }
  .project-item-title{
    font-size: 16px;
  }
  .tick{
    margin-left: 0% !important;
  }
    .greenBtn{
      min-width: 100% !important;
      margin: 4px !important;
    }
    .filterBtn{
      min-width: 100% !important;
      margin: 4px !important;
    }
    .showcase-layout {
      width: 100% !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .showcase-item-layout {
      width: 100% !important;
      min-height: 320px !important;
      padding-left: 0px;
      padding-right: 0px;
    }
    .project-item-title{
      font-size: 10px;
      line-height: 12px;
      height: 12px;
    }
    .project-item-title-profile{
      width: 50%;
    }
    .published-project{
      font-size: 8px;
      line-height: 14px;
      height: 14px;
    }
    .draft-project{
      font-size: 8px;
      line-height: 14px;
      height: 14px;
    }
}
@media (max-width:800px) and (min-width: 601px)
{   
   .showcase-layout {
      width: 100% !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .showcase-item-layout {
      width: 50% !important;
      min-height: 490px !important;
    }
    .project-item-title{
      font-size: 12px;
      line-height: 14px;
      height: 14px;
    }
    .project-item-title-profile{
      width: 50%;
    }
    .published-project{
      width: 50%;
      font-size: 10px;
      line-height: 16px;
      height: 16px;
    }
     .draft-project{
      width: 50%;
      font-size: 10px;
      line-height: 16px;
      height: 16px;
    }
}
@media (max-width:1100px) and (min-width: 801px)
{ 
    .showcase-layout {
      width: 100% !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .showcase-item-layout {
      width: 33% !important;
      min-height: 490px !important;
    }
    .project-item-title{
      font-size: 12px;
      line-height: 18px;
      height: 18px;
    }
    .project-item-title-profile{
      width: 50%;
    }
    .published-project{
      width: 50%;
      font-size: 10px;
      line-height: 18px;
      height: 18px;
    }
     .draft-project{
      width: 50%;
      font-size: 10px;
      line-height: 18px;
      height: 18px;
    }
}
@media (max-width:1450px) and (min-width: 1101px)
{
    .showcase-item-layout {
      min-height: 510px !important;
    }
    .project-item-title{
      font-size: 16px;
      line-height: 20px;
      height: 20px;
    }
    .project-item-title-profile{
      width: 60%;
      font-size: 14px !important;
      line-height: 20px;
      height: 20px;
    }
    .published-project{
      width: 40%;
      font-size: 12px;
      line-height: 20px;
      height: 20px;
    }
    .draft-project{
      width: 40%;
      font-size: 12px;
      line-height: 20px;
      height: 20px;
    }
}
@media (max-width:1580px) and (min-width: 1451px)
{
   .showcase-item-layout {
      min-height: 530px !important;
    }

}
/**** GALLERY */
/* SHOW ALL DESIGNS */
.gallery-style{
  padding-top: 3%;
}
.container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.showcase-layout {
  width: 85%;
  margin-left: 7.5%;
  margin-top: 10px;
  margin-right: 7.5%;
}
.showcase-item-layout {
  margin: auto 0% 0% 0%;
  margin-top: 10px;
  min-height: 600px;
  width: 25%;
  cursor: pointer;
  cursor: hand;
  height: auto;
}
.showcase-item-layout:hover{
  cursor: pointer;
  cursor: hand;
}
.showcase-item-layout h4:hover{
  cursor: pointer;
  cursor: hand;
}

.project-image{
  width: 100%;
  height: width !important;
}
.stats{
    font-family: ArtifaktElement;
    letter-spacing: 2px;
    float: right;
    font-size: 12px;
    height: 28px;
}
.ticks-style{
  margin-right: 2px;
}
.tick-stat {
  padding: 9px 0px 0px 0px !important ;
}
.green-tick{
  color: #2fe695;
}
.tick{
  font-size: 12px;
  float: left;
  letter-spacing: 3px;
}
.img-icon-styling{
  margin-bottom: 5px;
}
.likes-style{
  margin-right: 3px;
  margin-left: 1px;
  font-family: ArtifaktElement-Book;
  color: #212a43;
  height: 22px;
}
.fa-thumbs-o-up{
    opacity: 0.6;
}
.fa-eye{
    opacity: 0.6;
    padding-left: 8px;
}
.project-item-title{
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 22px;
  height: 44px;
  cursor: pointer;
  cursor: hand;
  font-family: ArtifaktElement-Bold;
  text-align: left;
  color: #212a43;
}
.project-item-title-profile{
  width: 72%;
  float: left;
  font-size: 14px;
}
.published-project{
  width: 28%;
  line-height: 22px;
  height: 56px;
  float: right;
  text-align: right;
  padding-top: 10px;
  font-size: 12px;
  font-family: ArtifaktElement;
  font-weight: bold;
  font-style: italic;
  color: #2acc84;
  padding-right: 2px;
}
.draft-project{
  width: 28%;
  line-height: 22px;
  height: 56px;
  float: right;
  text-align: right;
  padding-top: 10px;
  font-size: 12px;
  font-family: ArtifaktElement;
  font-weight: bold;
  font-style: italic;
  padding-right: 2px;
  color: #5981ff;
}
.project-edit-options{
  width: 100%;
}
.edit-btn-profile{
  font-family: ArtifaktElement;
  font-size: 12px;
  text-align: left;
  color: #212a43;
  float: left;
  background-color: transparent;
  border-style: none;
  text-align: left;
  left: 0;
  padding-left: 0px;
  margin-right: 15px;
  opacity: 0.59;
}
.authors-styling{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
   opacity: 0.59;
  font-family: ArtifaktElement-Book;
  text-align: left;
  color: #2c3247;
}
.showcase-item-layout p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
/* Nav */
.navbar-styling{
  padding-top: 9px;
}
.upload-nav{
  padding-left: 10px;
}
.navbar-nav{
  font-family: ArtifaktElement-Book;
  width: 60%;
  font-size: 14px;
}
.nav-username:hover {
  cursor: pointer;
  cursor: hand;
}
.navbar-header button{
  margin-right: 35px;
}
.nav-username{
  color: #212a43;
  font-size: 14px;
  width: 8%;
  text-align: right;
  float: left;
  padding-top: 15px ;
  font-family: ArtifaktElement-Book;
  height: auto;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .nav-username{
    float: left;
  }
  .navbar-nav{
    width: 55%
  }
}
@media screen and (max-width: 768px){
  .navbar-nav{
    width: 100%;
  }
  .nav-username{
    width: 100%;
    text-align: center;
    padding-right: 3%;
    padding-top: 0px;
  }
  .container-logout{
    width: 100%;
    box-shadow: none;
  }
}

/* SEARCH BAR LAYOUT */
@media screen and (min-width: 768px) {
  .searchBar-layout{
    height: 36px;
    padding-top: 2px;
    padding-left: 8px;
    width: 20%;
    border-style: none;
    float: right !important;
    border-radius: 22px;
    text-align: left;
    margin-top: 9px;
    margin-bottom: 17px;
    margin-right: 6%;
    background-color : #e8e8e8 !important;
    font-family: ArtifaktElement;
  }
  .searchBar-layout input{
    background-color: transparent;
    border-style: none;
    width: 92%;
  }
}
@media screen and (max-width: 768px) {
  .searchBar-layout{
    padding-left: 16px;
    width: 60%;
    margin-left: 20%;
    height: 33px !important;
    border-radius: 22px;
    text-align: left;
    border-style: none;
    margin-top: 39px;
    margin-bottom: 15px;
    background-color : #e8e8e8 !important;
    font-family: ArtifaktElement;
  }
  .searchBar-layout input{
    background-color: transparent;
    border-style: none;
    width: 90%;
  }
  .navbar-nav{
    width: 100%;
  }
}

/*LOGOUT ALERT */
.container-logout{
  position: relative;
  width: 120px;
  height: 40px;
  float: right;
  margin-right: 28% !important;
  -webkit-animation-name: animateTop;
  -webkit-animation-duration: 0.4s;
  animation-name: animateTop;
  animation-duration: 0.4s;
  z-index: 999;

}

/* Add Animation */
@-webkit-keyframes animateTop {
  from { margin-top: -45px; opacity:0; } 
  to { margin-top:  0px; opacity: 1; }
}

@keyframes animateTop {
  from { margin-top: -45px; opacity: 0; } 
  to { margin-top:  0px; opacity: 1; }
}

.logout-alert{
  position: absolute;
  right: 0px;
  width: 120px;
  font-family: ArtifaktElement;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 8px;
  z-index: 150;
  font-size: 12px;
  text-decoration: none;
}
.logout-alert a:hover{
  text-decoration: none;
}
.logout-alert:after {
  position: absolute;
  content: '';
  top: 0;
  left: 80%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  margin-left: -10px;
  margin-top: -10px;
}
/*DETAILS BOX PROMPT STYLE */
.details-box-style{
  padding-bottom: 10%;
  text-align: left;
  margin-top: 0px;
  background-color: #000000 !important;
  color: #2fe695;
  font-family: ArtifaktElement;
}