/* Profile page Body */
.profile{
  font-family: ArtifaktElement-regular;
  padding-left: 5% !important;
  padding-right: 5% !important;
}
.profile-gallery{
	padding-top: 4% ;
}
.profile-page-top{
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  font-family: ArtifaktElement;
  color: #ffffff;
}
.profile h6{
	  font-family: ArtifaktElement-regular;
	  text-align: center;
	  padding-top: 10px;
	  font-size: 14px;
}

@media (max-width: 780px) and (min-width: 0px) {
  .button-upload{
    font-size: 12px !important;
    padding: 9px 45px !important;
  }
  .published h4{
    font-size: 15px;
  }
}

.button-upload{
    background-color: #2acc84;
    border-radius: 29px;
    color: white;
    padding: 10px 65px;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 16px;
    margin: 35px 2px;
}
.published{
  margin-top: 3%;
  font-weight: bold;
  font-family: ArtifaktElement-bold;
  text-align: left;
  color: #2c3247;
}
.drafts{
  margin-top: 3%;
  font-weight: bold;
  font-family: ArtifaktElement-bold;
  text-align: left;
  color: #2c3247;
  margin-bottom: 10%;
}
.gallery-layout{
	padding-top: 3%;
}
.delete-alert-cancel:hover {
  cursor: pointer;
}

/*layout and hover effects */
.project-item-layout{
	padding-top: 18px;
	padding-right: 18px;
	position: relative;
}
.project-item-layout:hover .delete-project{
	display:block
}
.project-item-layout:hover .edit-icon{
	display:block
}
.edit-icon{
  margin-top: calc(50% - 50px);
  margin-left: calc(50% - 50px);
  position:absolute;
  align-self: center;
  display: none;
  z-index: 100;
  border-radius: 50%;
  -webkit-animation-name: animateIcon;
  -webkit-animation-duration: 0.8s;
  animation-name: animateIcon;
  animation-duration: 0.8s;
  overflow-x: auto !important;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.55);
}
.delete-project{
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  display: none;
  z-index: 100;
  -webkit-animation-name: animateIcon;
  -webkit-animation-duration: 0.8s;
  animation-name: animateIcon;
  animation-duration: 0.8s;
  overflow-x: auto !important;
}
/* Add Animation */
@-webkit-keyframes animateIcon {
  from { opacity:0} 
  to { opacity:1}
}

@keyframes animateIcon {
  from { opacity:0}
  to { opacity:1}
}
.project-item-layout:hover{
    cursor: default ;
}
.project-item-layout img:hover{
  cursor: pointer;
}
.delete-project:hover .delete-alert{
  display: block !important;
}
/*DELETE ALERT */
.delete-alert{
  margin-top: 38px;
  right: 0px;
  font-family: ArtifaktElement;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
  border-radius: .4em;
  text-align: center;
  padding: 14px 14px 8px 14px;
  z-index: 150;
  font-size: 12px;
}
.delete-alert:after {
  content: '';
  position: absolute;
  top: 0;
  left: 90%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  margin-left: -10px;
  margin-top: -10px;
}
.button-delete{
    background-color: #2acc84;
    border-radius: 29px;
    color: white;
    font-family: ArtifaktElement;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 12px;
    margin: 10px 2px;
}

/*PROMPT STYLE*/
.prompt-style{
  background-color: white;
}
.delete-prompt{
  font-style: ArtifaktElement;
  opacity: 0.4;
  width: 100%;
  text-align: right;
  float: right;
  top: 0;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 15%;
}
.delete-prompt:hover{
  cursor: pointer;
  cursor: hand;
}
.prompt-message{
  width: 100%;
}
.prompt-btns{
  margin-top: 15%;
}
.left-prompt-btn{
  width: 30%;
  font-style: ArtifaktElement;
  margin-right: 30%;
  margin-bottom: 3%;
  border-radius: 100px;
  background-color: #e8e8e8;
  text-align: center;
}
.right-prompt-btn{
  width: 30%;
  margin-bottom: 3%;
  font-style: ArtifaktElement;
  border-radius: 100px;
  background-color: #2acc84;
  color: white;

}
.right-prompt-btn:hover{
  color: #ffffff;
}
.draft-display{
  width: 100%;
  float: left;
}