
/*Input Style */
.input-form-control{
  height: 30px;
  float: left;
  font-size: 12px !important;
  width: 280px;
  color: #212a43;
  padding-left: 5px !important;
   border-radius: 2px;
   color: #212a43;
  background-color: #ffffff;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px rgba(0, 0, 0, 0.3);
}
.input-form-control:focus{
  border: solid 2px #5981ff;
}
.input-form-control::-webkit-input-placeholder{
  opacity: 0.4;
  font-family: ArtifaktElement;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  color: #2c3247;
}
.help-icon{
  float: right;
  color: #212a43;
}
.contact-inputs{
  min-height: 25px;
  margin-bottom: 10px !important;
}
.temp-hero-img{
  min-width: 100%;
  height: 300px;
  background-color: #d8d8d8;
}
.project-title-input{
  float: left;
  color: #212a43;
  width: 90%;
  margin: 52px 52px 15px 52px !important;
  margin-bottom: 8px;
}
.project-title-input input::-webkit-input-placeholder{
  opacity: 0.3;
  font-family: ArtifaktElement;
  font-size: 50px;
  font-weight: 100;
  font-style: italic;
  text-align: left;
  color: #212a43;
}
.project-title-input input{
  font-size: 50px;
  float: left;
  width: 100%;
  color: #212a43 !important;
  font-family: ArtifaktElement;
  background-color: #d8d8d8;
  min-height: 72px !important;
  border-style: none;
  margin-right: 10%;
}
.project-title-input input:focus{
  font-size: 50px;
}
.project-abstract-input{
  float: left;
  width: 90%;
  color: #212a43;
  font-family: ArtifaktElement;
  margin-left: 52px !important;
  margin-right: 52px !important;
}
.file-abstract-input{
  float: left;
  width: 95%;
  color: #212a43;
  font-family: ArtifaktElement;
}
.file-abstract-input textarea{
  padding: 5px; 
  font-size: 14px;
  float: left;
  min-height: 72px !important;
  width: 100%;
  background-color: #d8d8d8;
  border-style: none;
  margin-right: 10%;
}
.file-title-write{
  float: left;
  height: 25px;
  color: #212a43;
  width: 95%;
  margin: 35px 0px 15px 0px !important;
  margin-bottom: 8px;
}
.file-title-write input{
  font-size: 14px;
  float: left;
  width: 100%;
  color: #212a43 !important;
  font-family: ArtifaktElement;
  background-color: #d8d8d8;
  border-style: none;
  margin-right: 10%;
}
.project-abstract-input textarea{
  padding: 5px; 
  font-size: 14px;
  float: left;
  min-height: 72px !important;
  width: 100%;
  background-color: #d8d8d8;
  border-style: none;
  margin-right: 10%;
}
.project-abstract-input textarea::-webkit-input-placeholder{
  opacity: 0.4;
  font-family: ArtifaktElement;
  font-size: 12px;
  text-align: left;
  color: #2c3247;
}
.hr-display{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.content-hr{
  width: 100%;
  color: black;
  margin-top: 35px !important;
}
.content-hr hr{
  color: black;
}
.upload-nav{
  padding-top: 15px;
}
.upload-nav:hover{
  cursor: pointer;
  cursor: hand;
}
.file-btns{
  width: 93%;
}
.delete-file-btn{
  margin: 15px;
  border-radius: 100px;
  border: solid 1px #979797;
  background-color: #ffffff;
  font-family: ArtifaktElement-Book;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 5px;
  font-size: 14px;
  color: #2c3247;
  float: left;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.delete-file-btn:hover{
  cursor: pointer;
  cursor: hand;
  background-color: #FE2E2E;
  color: #ffffff;
  border-style: none;
}
.upload-media-btn{
  margin: 15px;
  border-radius: 100px;
  border: solid 1px #979797;
  background-color: #ffffff;
  font-family: ArtifaktElement-Book;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 5px;
  font-size: 14px;
  color: #2c3247;
}
.upload-media-btn:hover{
  cursor: pointer;
  cursor: hand;
}
.done-file-btn{
  float: right;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 100px;
  border: solid 1px #979797;
  background-color: #ffffff;
  font-family: ArtifaktElement-Book;
  color: #2c3247;
}
.done-file-btn:hover{
  cursor: pointer;
  cursor: hand;
}
.upload-new-file-layout{
  float: left;
  height: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 93%;
  color: #212a43;
  font-family: ArtifaktElement;
  margin-left: 52px !important;
  margin-right: 52px !important;
}
.upload-new-file-layout:hover{
  cursor: pointer;
}
.add-new{
  text-align: center;
  color: #2acc84;
  margin-bottom: 8%;
}
.add-icon{
  max-height: 60px;
  margin-top: 8%;
}
.add-new:hover{
  cursor: pointer;
  cursor: hand;
}
.toggle-switch{
  margin-top: 10% !important;
}
/

/*File Block */
.file-block-wrapper{
  position: relative;
}
.single-new-file{
  position: relative;
  -webkit-animation-name: slide; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.2s; /* Safari 4.0 - 8.0 */
  animation-name: slide;
  animation-duration: 0.2s;
  width: 93%;
  align-items: left;
  margin-left: 4.5% !important;
  margin-bottom: 4% !important;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide {
    0%   {left: -100%; opacity: 0;}
    100% {left: -4.5%; opacity: 1;}
}

/* Standard syntax */
@keyframes slide {
    0%   {left: -100%; opacity: 0;}
    100% {left: -4.5%; opacity: 1;}
}

@media (max-width:1280px) and (min-width: 551px)
{
  .write-page-container{
    margin-top: 9% !important;
  }
}
/* New Write Page Design */
.write-page-container{
  margin-top: 7%;
  padding-bottom: 10%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.write-page-btn{
  padding: 7px 22px 7px 22px;
  border-radius: 100px;
  background-color: #e8e8e8;
  font-family: ArtifaktElement;
  border-style: none;
  margin-right: 2%;
  font-size: 14px;
}
.write-page-btn-back{
  float: left;
}
.write-page-btn-draft{
  float: right;
}
.write-page-btn-publish{
  float: right;
  background-color: #2acc84;
  color: white;
}
.write-page-btn-save{
  float: right;
  padding-right: 40px;
  padding-left: 40px;
}
.upload-input{
    width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.row-left-btn{
  width: 20%;
  float: left;
}
.row-right-btn{
  float: right;
  width: 80%;
}
.thick-hr{
  opacity: 0.9;
  background-color: #212a43;
  border: 1px solid #212a43;
  margin-top: 3% !important;
}

/*WRITE PAGE METADATA (DETAILS) PART STYLING */
#details-write-page{
  align-items: stretch;
  width: 280px;
  float: left;
  padding: 1% 0px 0px 0px;
  min-height: 100%;
  overflow-y: scroll !important;
  margin-bottom: 5px;
}
#details-write-page .sub-part{
  margin-top: 2%;
}
.h-img hr{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.h-img img{
  margin-top: 4%;
  margin-left: 40px;
  width: 200px;
  height: 200px;
}
.project-info-bold p{
  font-family: ArtifaktElement;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #2c3247;
  margin-top: 12%;
}
.title-write{
  margin-top: 2% !important;
}
.abstract-write{
  margin-bottom: 5%;
}
textarea {
  resize: none;
  font-family: artifaktElement;
  font-size: 12px;
  color: #212a43;
}
.abstract-textarea{
  width: 280px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px rgba(0, 0, 0, 0.3);
}
.contact-write-style{
  margin-top: 12% !important;
  margin-bottom: 10% !important;
}
#content-write-page{
  align-items: stretch;
  min-height: 100vh;
  padding-left: 330px;
  min-width: 100%;
}
.content-style{
  font-family: ArtifaktElement;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #2c3247;
  margin-top: 6.5% !important;
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}
.content-text p{
  opacity: 0.4;
  font-family: ArtifaktElement;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  color: #2c3247;
  text-align: center;
}
.content-style-text p{
  opacity: 0.4;
  font-family: ArtifaktElement;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  float: left;
  color: #2c3247;
  text-align: center;
  margin-top: 3px;
}
.content-style-text button{
  font-family: ArtifaktElement;
  font-size: 12px;
  text-align: left;
  color: #212a43;
  float: left;
  width: 100%;
  margin-bottom: 0px;
}
.write-page-content-btn{
  padding: 7px 32px 7px 32px;
  border-radius: 100px;
  background-color: #2acc84;
  color: white;
  font-family: ArtifaktElement;
  border-style: none;
  font-size: 14px;
}
.content-btns-style{
  margin: auto 1% 13% 1%;
}
.write-page-content-btn-upload{
  margin-bottom: 1%;
  margin-top: 2%;
}
button[disabled]{
  opacity: 0.4;
}
button[disabled]:hover {
    cursor: not-allowed;
}

/* NEW FILE BLOCK LAYOUT STYLE */
.new-file-block-style{
  -webkit-animation-name: easeEffect; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: easeEffect;
  animation-duration: 2s;
  transition:opacity 1s linear;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes easeEffect {
    from {opacity: 0; }
    to {opacity: 1}
}

/* Standard syntax */
@keyframes easeEffect {
    from {opacity: 0; }
    to {opacity: 1}
}

.single-new-file-block{
  margin-bottom: 4%;
}
.file-title-write-new input{
   background-color: #ffffff;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-family: ArtifaktElement;
  width: 100%;
  margin-bottom: 2%;
  font-family: ArtifaktElement;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #2c3247;
}
.file-abstract-write-new textarea{
  background-color: #ffffff;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  font-family: ArtifaktElement;
  width: 100%;
  margin-top: 10px;
}
.youtube-link-style input{
   background-color: #ffffff;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  font-family: ArtifaktElement;
  width: 100%;
  margin-bottom: 2%;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #2c3247;
  opacity: 0.6;
}
.options-file-block{
  font-family: ArtifaktElement;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  color: #2c3247;
  width: 100%;
  height: 25px;
  margin-top: 1%;
}
.options-row{
  width: 100%;
}
.file-block-btns{
  float: left;
  opacity: 0.4;
  background-color: #ffffff;
  border-radius: 100px;
  border: solid 1px #979797;
  margin: 5px;
  padding: 0px 15px 0px 15px;
}
.keywords-file{
  opacity: 0.4;
  float: left;
  margin-top:7px;
}
.other-file{
  padding-top: 6px !important;
  float: left;
  text-align: left;
    font-family: ArtifaktElement;
  font-size: 12px;
  line-height: 1.67;
  margin: 0% !important;
  border-style: none;
  background-color: white;
  color: #212a43;
}
.keywordsbtn{
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.width-delete{
  float: right;
  width: 45%;
}
.file-image-display{
  max-width: 80% !important;
  margin-left: 10%;
  margin-right: 10%;
}
.other-btn-w{
  float: right;
  padding-right: 0px !important;
}
.other-btn-d{
  float: right;
}
.content-btns button:hover{
  cursor: pointer;
}
.input-file-upload{
  width: 112px;
  height: 45px;
}
.file-input-wrapper {
    height: 40px;
    width: 120px;
    overflow: hidden;
    position: relative;
    border-style: none;
    background-color: #ffffff;
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.file-input-wrapper > input[type="file"]:hover{
  cursor: pointer;
  cursor: hand;
}
.file-input-wrapper > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
.file-input-wrapper > .btn-file-input {
    display: inline-block;
    width: 200px;
    height: 40px;
}
.file-input-wrapper:hover > .btn-file-input {
    background-color: #aaa;
}
textarea::-webkit-input-placeholder {
  opacity: 0.4;
  font-family: ArtifaktElement ;
  font-size: 12px;
  text-align: left;
  color: #2c3247;
    font-style: italic;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  opacity: 0.4;
    font-style: italic;
  font-family: ArtifaktElement;
  font-size: 12px;
  text-align: left;
  color: #2c3247;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    opacity: 0.4;
      font-style: italic;
  font-family: ArtifaktElement;
  font-size: 12px;
  text-align: left;
  color: #2c3247;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    opacity: 0.4;
      font-style: italic;
  font-family: ArtifaktElement;
  font-size: 12px;
  text-align: left;
  color: #2c3247;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.4;
  font-family: ArtifaktElement;
  font-size: 12px;
  text-align: left;
  color: #2c3247;
}
::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.4;
  font-family: ArtifaktElement;
  font-size: 12px;
  text-align: left;
  color: #2c3247;
}
.cover-img-upload{
    font-family: ArtifaktElement;
  font-size: 12px;
  text-align: left;
  color: #212a43;
  float: left;
  width: 100%;
  margin-bottom: 0px;
  padding: 0px !important;
}
.cover-file-upload{
   width: 130px;
   height: 36px;
   margin-right: 150px;
}
.upload-input-wrapper{
    height: 18px;
    width: 120px;
    overflow: hidden;
    position: relative;
    border-style: none;
    background-color: #ffffff;
    margin-top: 5px;
    margin-left: 0px !important;
    padding-left: 0px !important;
}
.upload-input-wrapper > input[type="file"]:hover{
  cursor: pointer;
  cursor: hand;
}
.upload-input-wrapper > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
.has-error input{
  border-color: red !important;
}
.has-error textarea{
  border-color: red !important;
}
.required-text{
   font-family: ArtifaktElement;
  font-size: 12px;
  text-align: left;
  color: #2c3247;
  margin-top: 90px;
}
/*KEYWORDS STYLING DROPDOWN*/
.dropdown-div{
    position: relative;
    display: inline-block;
}
.dropdown-div .keywords-box {
  font-family: ArtifaktElement;
    width: 476px;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
    
}
.dropdown-div .keywords-box::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

/*
.keywords-box button{
  border-style: none;
  background-color: white;
  font-family: ArtifaktElement;
  width: 88%;
  float: right;
  text-align: left;
  padding-left: 0px;
} */
.left-keywords{
  width: 66.6%;
  float: left;
  color: #212a43;
}
.left-keywords h5{
  opacity: 0.5;
  font-size: 12px;
}
.left-left{
  font-family: ArtifaktElement;
  width: 50%;
  padding-left: 35px;
  float: left;
  text-align: left;
  font-size: 12px;
}
.keyword-row{
  width: 100%;
}
.tick-keywords{
  float: left;
  width: 12%;
  margin-top: 6px;
}
.keywords-box button{
  background-color: white;
  border-style: none;
  width: 88%;
  text-align: left;
}
.middle-keywords{
  font-family: ArtifaktElement;
  width: 50%;
  float: right;
  padding-left: 35px;
  text-align: left;
  font-size: 12px;
}
.right-keywords h5{
  opacity: 0.5;
  font-size: 12px;
}
.right-keywords{
  font-family: ArtifaktElement;
  font-size: 12px;
  padding-left: 30px;
  width: 33.3%;
  float: right;
  text-align: left;
}




