.general {
	margin-top: 8%;
	margin-bottom: 4%;
}

button:focus {
    outline:none !important;
}
.home-title{
	text-align: center;
	font-family: ArtifaktElement;
	font-weight: 100;
	color: #343950;
}
.welcomeStyle{
	margin: 35px 2px;
	font-family: ArtifaktElement;
	font-weight: 100;
	color: #2fe695;
}
.sortByStyle {
	margin-left: 80%;
}
.filterBtn {
	background-color: #2fe695;
    border-radius: 19px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 14px;
    float: left;
    margin-right: 9px;
    font-family: ArtifaktElement;
    color: white;
    padding-left: 9px;
    padding-right: 9px;
}
/* SHOW ALL DESIGNS */
.showcase-layout {
	width: 80%;
}
.showcase-item-layout {
	margin: 5% 4%;
}

/* DROPDOWN STYLE */
.dropbtn {
    color: #2fe695;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

